In [2]:
import pandas as pd
df = pd.read_csv('OctConAti.csv', sep=';', encoding = 'ISO-8859-1')
df.head()

,Unnamed: 0,CODOPERACION,DESCRIPCION,USO_ENERGIA,FECHA_LC,HORA_LC,KWH,KWH /15 MIN
0,2982,OP.20150323181324,A.1B (FerrÃ¡ndiz): consumo elÃ©ctrico general,ALL,01/10/2018,00:15,1848247.0,4.0
1,2983,OP.20150323181324,A.1B (FerrÃ¡ndiz): consumo elÃ©ctrico general,ALL,01/10/2018,00:30,1848251.0,4.0
2,2984,OP.20150323181324,A.1B (FerrÃ¡ndiz): consumo elÃ©ctrico general,ALL,01/10/2018,00:45,1848255.0,4.0
3,2985,OP.20150323181324,A.1B (FerrÃ¡ndiz): consumo elÃ©ctrico general,ALL,01/10/2018,01:00,1848258.0,3.0
4,2986,OP.20150323181324,A.1B (FerrÃ¡ndiz): consumo elÃ©ctrico general,ALL,01/10/2018,01:15,1848262.0,4.0

In [2]:
atipicos1 = df.loc[df['KWH /15 MIN'] >= 821002]

In [3]:
atipicos1.count()

Unnamed: 0      152
CODOPERACION    152
DESCRIPCION     152
USO_ENERGIA     152
FECHA_LC        152
HORA_LC         152
KWH             152
KWH /15 MIN     152
dtype: int64

In [3]:
atipicos2 = df.loc[df['KWH /15 MIN'] >= 17259]

In [5]:
atipicos2.count()

Unnamed: 0      278
CODOPERACION    278
DESCRIPCION     278
USO_ENERGIA     278
FECHA_LC        278
HORA_LC         278
KWH             278
KWH /15 MIN     278
dtype: int64

In [5]:
df.drop(atipicos2.index, inplace = True)

In [7]:
edificios = df.groupby('DESCRIPCION')['KWH /15 MIN'].count()

In [8]:
edificios

CODOPERACION
20140115145200       2937
20140116123400        179
20140116123600       2956
20140116123800       1614
20140116123900       2960
20140116124100       2955
20140116124200       2496
20140116124600       2913
20140116124800       2707
20140116124900       2630
20140116125000       2971
20140116125200       2949
20140116125500        779
20140116125630       2952
20140116130200       2959
20140116130400       2972
20140116130700       2735
20140116130800       2910
20140116130900       2561
20140116131000       1863
20140116131100       2941
20140116131200       2071
20140116131300       2975
20140116131400       2956
20140116131500       2958
20141001090214       1556
20131223165700       2889
20131223165900       2862
20131223170000       2902
20131223170100       2886
                     ...
20140115145700       2967
20140115145800       2966
20140115145900       2954
20140115150000       2966
20140115150030       2953
20140115150100       2843
20140115150200       2807
20140116123200       2645
2014011612323000     1968
20140116123300       2611
20140116123400       2770
20140116125400       2956
20140116130500       2844
20140116131900       1379
20140116132100       2934
20141001090214       1414
OP.20150323180416      73
OP.20150323180634    2234
OP.20150323181324    2969
OP.20150323181739    2967
OP.20150323182127    2969
OP.20150323182941    2967
OP.20150323183319    2786
OP.20150323183604    2714
OP.20150323183902    2922
OP.20150324103330    2164
OP.20150324104122    2076
OP.20150324104608    2925
OP.20150324113009     354
OP.20180719143436    1599
Name: KWH /15 MIN, Length: 86, dtype: int64

In [9]:
df.count()

Unnamed: 0      220006
CODOPERACION    220006
DESCRIPCION     220006
USO_ENERGIA     220006
FECHA_LC        220006
HORA_LC         220006
KWH             220006
KWH /15 MIN     220006
dtype: int64

In [4]:
atipicos2.to_csv('OctAti.csv', sep = ';')

In [6]:
df.to_csv('OctSinAti.csv', sep = ';')