In [1]:
import pandas as pd
df = pd.read_csv('SepConAti.csv', sep=';', encoding = 'ISO-8859-1')
df.head()

,Unnamed: 0,CODOPERACION,DESCRIPCION,USO_ENERGIA,FECHA_LC,HORA_LC,KWH,KWH /15 MIN
0,2882,OP.20150323181324,A.1B (FerrÃ¡ndiz): consumo elÃ©ctrico general,ALL,01/09/2018,00:15,1798148.0,3.0
1,2883,OP.20150323181324,A.1B (FerrÃ¡ndiz): consumo elÃ©ctrico general,ALL,01/09/2018,00:30,1798151.0,3.0
2,2884,OP.20150323181324,A.1B (FerrÃ¡ndiz): consumo elÃ©ctrico general,ALL,01/09/2018,00:45,1798154.0,3.0
3,2885,OP.20150323181324,A.1B (FerrÃ¡ndiz): consumo elÃ©ctrico general,ALL,01/09/2018,01:00,1798156.0,2.0
4,2886,OP.20150323181324,A.1B (FerrÃ¡ndiz): consumo elÃ©ctrico general,ALL,01/09/2018,01:15,1798159.0,3.0

In [2]:
atipicos1 = df.loc[df['KWH /15 MIN'] >= 863924]

In [3]:
atipicos1.count()

Unnamed: 0      134
CODOPERACION    134
DESCRIPCION     134
USO_ENERGIA     134
FECHA_LC        134
HORA_LC         134
KWH             134
KWH /15 MIN     134
dtype: int64

In [5]:
#en este doc no lo hacemos, pero para volver a ver los atipicos hemos eliminado esos 134 y con el resultado hemos obtenido la media más dos desviaciones típicas

In [2]:
atipicos2 = df.loc[df['KWH /15 MIN'] >= 18931]

In [7]:
atipicos2.count()

Unnamed: 0      242
CODOPERACION    242
DESCRIPCION     242
USO_ENERGIA     242
FECHA_LC        242
HORA_LC         242
KWH             242
KWH /15 MIN     242
dtype: int64

In [8]:
df.drop(atipicos2.index, inplace = True)

In [9]:
edificios = df.groupby('DESCRIPCION')['KWH /15 MIN'].count()

In [10]:
edificios

CODOPERACION
20131223165700       2814
20131223165900       2784
20131223170000       2831
20131223170100       2879
20131223170200       2879
20131223170300       2652
20131223170330       2576
20131223170400       2453
20131223170430       2548
20131223170600       2567
20131223170700       2837
20131223170730       1885
20140115142300       2861
20140115142500       2738
20140115142800       2775
20140115143000       2784
20140115143300       2810
20140115143500       1348
20140115143900       1749
20140115144000       2877
20140115144100       2670
20140115144130       2805
20140115144200       2872
20140115144300       2867
20140115144400       2879
20140115144500       2798
20140115144600       2817
20140115145000       1289
20140115145200       2830
20140115145600       1698
                     ...
20140116125630       2857
20140116130200       2839
20140116130400       2879
20140116130500       2734
20140116130700       2738
20140116130800       2788
20140116130900       2786
20140116131000        312
20140116131100       2851
20140116131200       2139
20140116131300       2877
20140116131400       2869
20140116131500       2852
20140116131900       1291
20140116132100       2850
20141001090214       2870
OP.20150323180416      18
OP.20150323180634    2664
OP.20150323181324    2876
OP.20150323181739    2862
OP.20150323182127    2877
OP.20150323182941    2869
OP.20150323183319    2739
OP.20150323183604    2681
OP.20150323183902    2797
OP.20150324103330    2080
OP.20150324104122    1992
OP.20150324104608    2794
OP.20150324113009     406
OP.20180719143436    1278
Name: KWH /15 MIN, Length: 85, dtype: int64

In [11]:
df.to_csv('SepSinAti.csv', sep = ';')

In [12]:
df.count()

Unnamed: 0      211446
CODOPERACION    211446
DESCRIPCION     211446
USO_ENERGIA     211446
FECHA_LC        211446
HORA_LC         211446
KWH             211446
KWH /15 MIN     211446
dtype: int64

In [3]:
atipicos2.to_csv('SepAti.csv', sep = ';')